@page
@model Payroll_Test_2.Pages.Payroll.Step1_SelectCutoffModel
@{
    ViewData["Title"] = "Step 1: Select Cutoff Period";
}

<h2>Step 1: Select Cutoff Period</h2>
<p>This will be the first step of generating payroll, select the start and end date of the payroll cycle.</p>

<form method="post">
    <label>Start Date:</label>
    <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="StartDate" required/>
    
    <label>End Date:</label>
    <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="EndDate" required />
    
    <label>Cutoff Type:</label>
    <select asp-for="Cycle" required>
        <option value="Weekly">Weekly</option>
        <option value="Bi-Weekly">Bi-Weekly</option>
        <option value="Monthly">Monthly</option>
    </select>

    <button type="submit">Next</button>
</form>
