@page
@model Payroll_Test_2.Pages.Account.loginModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="card-login">
    <h3 class="title-login">PayrollPro</h3>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }
    <span class="text-danger" asp-validation-for="Credential.Username"></span>
    <span class="text-danger" asp-validation-for="Credential.Password"></span>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-text">
            <label asp-for="Credential.Username" class="label-input">Username</label>
            <input type="text" asp-for="Credential.Username" class="" placeholder="Enter your username" />
        </div>

        <div class="input-text">
            <label asp-for="Credential.Password" class="label-input">Password</label>
            <input type="password" asp-for="Credential.Password" class="" placeholder="••••••••" />
        </div>

        <button type="submit" class="login-btn">Login</button>
    </form>

    <div class="text-center">
        <p class="text-muted">Don't have an account? <a href="#" class="text-primary">Contact your administrator</a></p>
    </div>
</div>