/* Table styling */

.admin-payroll-container {
    overflow: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    overflow: scroll;
}

thead {
    background-color: #343a40;
    color: white;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

    td:hover {
        /*    background-color: #f1f1f1;*/
        cursor: pointer;
    }

.payroll-actions {
    justify-content: flex-start;
    text-align: center;
    background-color: #1D2024;
    border-radius: 20px;
    border: 2px solid #1D2024;
    padding: 5px;
    color: white;
    width: 200px;
    text-decoration: none;
}
    .payroll-actions a {
        text-decoration: none;
        color: white;
    }
    .payroll-actions:hover {
        background-color: #1D2024;
        border: 2px solid #dc3545;
        color: white;
    }

a{
    text-decoration: none;
}

.btndelete {
    background-color: white;
    border: none;
    cursor: pointer;
}