@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="text-align:left;">Payroll Management System</h1>
    <p style="text-align:left;">developed by <b>kapetol | Group 3</b></p>
</div>
